*.pyc
*.nwb
MTfig_1b/pkl_data
.project
.pydevproject
*cell_types_manifest.json
cell_data
*/cell_types
create_data_dir/human_struc_data_dir
create_data_dir/mouse_struc_data_dir
*stats_out2.json
*stats_out2.pkl
*#
human_nwb
mouse_nwb
human_struc_data_dir
mouse_struc_data_dir
*~
/Users/corinneteeter/workspace/GLIF_Teeter_et_al_2018/model_nwb_files 