*.pyc
*.nwb
MTfig_1b/pkl_data
.project
.pydevproject
*cell_types_manifest.json
cell_data
*/cell_types
create_data_dir/human_struc_data_dir
create_data_dir/mouse_struc_data_dir
human_struc_data_dir/
mouse_struc_data_dir/
mouse_struc_data_dir/*/*
*stats_out2.json
*stats_out2.pkl
*#
human_nwb
mouse_nwb
*~
create_data_dir/mouse_struct_data_dir_before_exclusions/
create_data_dir/human_struc_data_dir_before_exclusions/
SMfig_15/calc_all_subthresh_v_diff_RUN.py
mouse_struc_data_dir_BU_check_against
mouse_struc_data_dir_for_check